---
---

<html lang="id">
  <head>
    <title>Apartment Murah Dijual! - Hanya Rp 375 Juta!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="/asset/script/hotel-image-slider.js"></script>

    <style>
      body {
        @apply bg-slate-600 dark:text-white;
      }
    </style>
  </head>

  <body>
    <div class="px-2 py-8 mx-auto max-w-2xl bg-slate-50 dark:bg-zinc-900 shadow-lg">

      <div id="hero-section">
        <h1 class="text-xl font-bold text-center underline">APARTEMENT <span class="whitespace-nowrap">MURAH DIJUAL !!</span></h1>

        <div class="p-1"></div>

        <p class="text-center">Bintaro, Pondok Aren</p>
      </div>

      <div class="p-5"></div>

      <div class="flex gap-3 md:w-4/5 w-full mx-auto items-center justify-center">
        <button class="p-2 hover:bg-slate-300 hover:shadow-sm md transition-all" id="hotel-image-prev">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>

        <div
          class="flex items-center justify-center md:max-w-screen-sm mx-auto"
          id="hotel-image-container"
        >
          <img class="h-40 sm:h-60 lg:h-80 object-contain" src="/asset/image/room-main-view.jpg">
          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/room-second-view.jpg">
          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/room-third-view.jpg">
          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/room-fourth-view.jpg">

          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/bathroom-main-view.jpg">
          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/bathroom-secondary-view.jpg">

          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/outside-main-view.jpg">
          <img class="h-40 sm:h-60 lg:h-80 object-contain hidden" src="/asset/image/outside-second-view.jpg">
        </div>

        <button class="p-2 hover:bg-slate-300 hover:shadow-sm md transition-all" id="hotel-image-next">
          <img src="/asset/svg/chevron-right-arrow.svg" width="25" height="25">
        </button>
      </div>

      <div class="p-5"></div>

      <div>
        <p class="text-center text-lg">
          Hanya <span class="font-semibold">Rp. 375 Juta !!</span>
        </p>
      </div>

      <div class="p-3"></div>

      <div class="flex justify-center items-center">
        <a
          class="inline-flex items-center text-white justify-center gap-2 bg-whatsapp-500 px-6 py-3 md hover:bg-whatsapp-600 font-semibold transition-colors"
          href="https://wa.me/+6281324862016"
        >
          <img src="/asset/svg/whatsapp.svg"> Contact
        </a>
      </div>

      <div class="p-3"></div>

      <div>
        <p class="text-center">Apartment Bintaro Icon</p>
        <p class="text-center">Tipe Studio, 22m<sup>2</sup></p>
      </div>

      <div class="p-2"></div>

      <div>
        <p class="text-center">Jl. Jombang Raya no 26, Bintaro</p>
        <p class="text-center">Pondok Aren, Tangerang Selatan 15229</p>
      </div>

      <div class="p-2"></div>

      <div>
        <p class="text-center">
          <a href="tel:+6281324862016">+62 813 2486 2016</a>
        </p>

        <p class="text-center">
          <a href="mailto:dwicahyanisusiwi@gmail.com">dwicahyanisusiwi@gmail.com</a>
        </p>
      </div>

      <div class="p-5"></div>

      <div class="flex items-center justify-center gap-3">
        <a class="inline-flex justify-center items-center gap-2" href="https://github.com/rayhan-wijaya/hotel-web-page">
          <img src="/asset/svg/github.svg"> GitHub
        </a>
      </div>

    </div>
  </body>
</html>
